<h1>Listado de Variable precio</h1>

<table>
  <tr>
    <th>Projecto</th>
    <th>Detalle</th>
    <th>Observaciones</th>
  </tr>

<% @variable_precios.each do |variable_precio| %>
  <tr>
    <td><%= variable_precio.project.try(:detalle)%></td>
    <td><%= variable_precio.detalle %></td>
    <td><%= variable_precio.observaciones %></td>
    <td><%= link_to 'Visualizar', [@empresa, @project, variable_precio] %></td>
    <td><%= link_to 'Editar', edit_empresa_project_variable_precio_path(@empresa, @project, variable_precio) %></td>
    <td><%= link_to 'Borrar', [@empresa, @project,variable_precio], :confirm => 'Esta Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Variable Precio', new_empresa_project_variable_precio_path %>|
<%= link_to 'Proyectos', empresa_projects_path %>
