<h1>Visualizacion de Variable Precios</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Proyecto:</b>
  <%= @variable_precio.project.try(:detalle) %>
</p>

<p>
  <b>Detalle:</b>
  <%= @variable_precio.detalle %>
</p>

<p>
  <b>Observaciones:</b>
  <%= @variable_precio.observaciones %>
</p>


<%= link_to 'Editar', edit_variable_precio_path(@variable_precio) %> |
<%= link_to 'Volver', variable_precios_path %>
