<h1>Listado Variable Valor</h1>

<table>
  <tr>
    <th>Empresa</th>
    <th>Detalle</th>
    <th></th>
    <th></th>
  </tr>

<% @variable_valors.each do |variable_valor| %>
  <tr>
    <td><%= variable_valor.project.try(:detalle)%></td>
    <td><%= variable_valor.detalle %></td>
    <td><%= link_to 'Visualizar', variable_valor %></td>
    <td><%= link_to 'Editar', edit_variable_valor_path(variable_valor) %></td>
    <td><%= link_to 'Borrar', variable_valor, :confirm => 'Esta Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Variable Valor', new_variable_valor_path %>
