<h1>Listado de Elementos</h1>

<table>
  <tr>
    <th>Detalle</th>
    <th>Observacion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @elements.each do |element| %>
  <tr>
    <td><%= element.detalle %></td>
    <td><%= element.observacion %></td>
    <td><%= link_to 'Visualizar', element %></td>
    <td><%= link_to 'Editar', edit_element_path(element) %></td>
    <td><%= link_to 'Borrar', element, :confirm => 'Esta Seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Elemento', new_element_path %>
