<h1>Análisis de Mercado</h1>
<p>Esta es la página principal de <a href="http://mercado.com.ar/">Mercado</a> </p>
<ul>
	<li><%= link_to "Empresas", empresas_path %></li>
    <li><%= link_to "Proyectos", projects_path %></li>
    <li><%= link_to "Elementos", elements_path %></li>
    <li><%= link_to "Variable Precios", variable_precios_path %></li>
    <li><%= link_to "Variable Valores", variable_valors_path %></li>
    <li><%= link_to "Valores Elemento-Variables de Precio", element_variable_precios_path %></li>
    <li><%= link_to "Valores Elemento-Variables de Valor", element_variable_valors_path %></li>
  </ul>