<p id="notice"><%= notice %></p>

<p>
  <b>Detalle:</b>
  <%= @empresa.detalle %>
</p>

<p>
  <b>Variable precio:</b>
  <%= VariablePrecio.find(@empresa.variable_precio_id).detalle %>
</p>

<p>
  <b>Variable valor:</b>
  <%= VariableValor.find(@empresa.variable_valor_id).detalle %>
</p>


<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
