<h1>Listado de Empresas</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Detalle:</b>
  <%= @empresa.detalle %>
</p>

<p>
  <b>Nombre Contacto:</b>
  <%= @empresa.contacto %>
</p>

<p>
  <b>Telefonos:</b>
  <%= @empresa.telefono %>
</p>

<p>
  <b>Direccion de Email:</b>
  <%= @empresa.email %>
</p>


<%= link_to 'Editar', edit_empresa_path(@empresa) %> |
<%= link_to 'Volver', empresas_path %> |
<%= link_to 'Proyectos', empresa_projects_path(@empresa) %>
